body {
  padding: 50px;
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  margin-bottom: 1em;
}

button {
  padding: 0.5em;
}

#start, #end, #xfer {
  display: none;
}

.speech-ready #start {
  display: initial;
}

.speech-in-progress {
  background-color: black;
}

.speech-in-progress .container * {
  display: none;
}

.speech-in-progress #end,
.speech-in-progress #xfer {
  display: initial;
}
